:root {
    /* Color Palette */
    --clr-nutmeg: hsl(14, 45%, 36%);
    --clr-dark-raspberry: hsl(332, 51%, 32%);
    --clr-rose-white: hsl(330, 100%, 98%);
    --clr-eggshell: hsl(30, 54%, 90%);
    --clr-light-grey: hsl(30, 18%, 87%);
    --clr-wenge-brown: hsl(30, 10%, 34%);
    --clr-dark-charcoal: hsl(24, 5%, 18%);
    --clr-white: hsl(0, 0%, 100%);

    /* Typography */
    --ff-heading: 'Young Serif', serif;
    --ff-body: 'Outfit', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ff-body);
    font-size: 1rem;
    color: var(--clr-wenge-brown);
    background-color: var(--clr-eggshell);
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 7.75rem 0;
}

.recipe-card {
    background-color: var(--clr-white);
    width: 736px;
    padding: 2.5rem;
    border-radius: 1.5rem;
}

.recipe-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 0.75rem;
    display: block;
    margin-bottom: 2.5rem;
}

h1 {
    font-family: var(--ff-heading);
    color: var(--clr-dark-charcoal);
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 1.5rem;
}

p {
    margin-bottom: 1.5rem;
}

.prep-time {
    background-color: var(--clr-rose-white);
    padding: 1.75rem;
    border-radius: 0.75rem;
    margin-bottom: 2rem;
}

.prep-time h3 {
    color: var(--clr-dark-raspberry);
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
}

.prep-time ul {
    padding-left: 1.5rem;
}

.prep-time li {
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
}

.prep-time li::marker {
    color: var(--clr-dark-raspberry);
    font-size: 0.8rem;
}

h2 {
    font-family: var(--ff-heading);
    color: var(--clr-nutmeg);
    font-size: 1.75rem;
    font-weight: 400;
    margin-bottom: 1.25rem;
}

ul, ol {
    padding-left: 1.5rem;
    margin-bottom: 2rem;
}

li {
    padding-left: 1rem;
    margin-bottom: 0.5rem;
}

ul li::marker {
    color: var(--clr-nutmeg);
    font-size: 0.8rem;
}

ol li::marker {
    color: var(--clr-nutmeg);
    font-weight: 700;
}

li strong {
    color: var(--clr-wenge-brown);
}

hr {
    border: 0;
    border-top: 1px solid var(--clr-light-grey);
    margin-bottom: 2rem;
}